<!DOCTYPE html>
<html>
  <head>
    <title>Books!</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if current_admin.present? %>
      <nav class="teal lighten-2" role="navigation">
        <div class="nav-wrapper container">
          <ul class="left">
            <li>
              <%= link_to root_path, title: 'All books' do %>
                <i class="large material-icons">book</i>
              <% end %>
            </li>
            <li><h5>Books!</h5></li>
          </ul>
          <ul class="right">
            <%= link_to destroy_admin_session_path, method: :delete, title: 'Sign out', wrap_tag: :li do %>
              <i class="large material-icons">power_settings_new</i>
            <% end %>
          </ul>
        </div>
      </nav>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
